body {
  --background: #ffffff;
  --background-2: #f5f6f8;
  --background-hover: rgba(75, 111, 222, 0.12);
  --background-active: rgba(75, 111, 222, 0.12);
  --accent: #4977e7;
  --accent-light: hsl(223, 76%, 80%);
  --secondary: red;
  --border: #cccccc;

  --text: #333333;
  --text-accent: #4977e7;
  --text-light: #666666;
  --text-hover: #000000;
  --text-active: #265ce4;

  --background-shadow-color: #4f515355;
  --surface-shadow-color: #44464b50;
  --background-shadow: 0px 0px 5px var(--background-shadow-color);
  --surface-shadow: 0px 0px 10px var(--surface-shadow-color);

  --menu-width: 250px;
  -webkit-tap-highlight-color: transparent;
}

body.dark {
  --background: #252728;
  --background-2: #1c1e20;
  --background-hover: rgba(75, 111, 222, 0.12);
  --background-active: rgba(75, 111, 222, 0.12);
  --accent: #4977e7;
  --accent-light: hsl(0, 0%, 80%);
  --secondary: red;
  --border: #333333;

  --text: #dddddd;
  --text-accent: #4977e7;
  --text-light: #666666;
  --text-hover: #bbbbbb;
  --text-active: #265ce4;

  --background-shadow-color: #00000050;
  --surface-shadow-color: #00000050;
  --background-shadow: 0px 0px 15px var(--background-shadow-color);
  --surface-shadow: 0px 0px 15px var(--surface-shadow-color);
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

*::placeholder {
  font-size: 1rem;
}

body {
  margin: 0;
  font-size: 16px;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i {
  color: var(--text);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  cursor: pointer;
}

li {
  list-style-type: none;
}

/* -------------------------- SIDEBAR --------------------------*/

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: var(--menu-width);
  position: fixed;
  background-color: var(--background-2);
  box-shadow: var(--surface-shadow);
  padding: 10px;
  list-style-type: none;
  transition: 0.35s ease;
  left: 0;
}

header a {
  border-radius: 5px;
  padding: 10px;
  display: block;
  text-decoration: none;
}

header i {
  margin-right: 10px;
}

.logo-container {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
}

nav {
  flex-grow: 1;
}

nav a {
  display: grid;
  grid-template-columns: 35px 1fr;
}

nav i {
  margin: auto;
}

header a:hover {
  background-color: var(--background-hover);
}

.modal {
  flex-direction: column;
  padding: 10px;
  background-color: var(--background);
  box-shadow: var(--background-shadow);
  border-radius: 5px;
  transition: 0.2s ease;
  z-index: 99;
}

.settings-modal {
  position: fixed;
  display: none;
  bottom: 55px;
  left: 10px;
  width: 250px;
}

.nav-logo {
  max-height: 1.5rem;
  margin-right: 10px;
}

@media only screen and (max-width: 700px) {
  .settings-modal {
    bottom: 75px;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }
}

.modal ul {
  padding: 0;
}

.modal li a {
  padding-left: 33px;
  padding-right: 33px;
}

.settings-modal-close,
.nav-close {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: var(--on-background);
  transition: 0.2s ease;
}

.settings.open .modal {
  display: flex;
}

.settings.open .settings-modal-close {
  display: block;
}

@media only screen and (min-width: 701px) {
  .hamburger-mobile {
    display: none;
  }

  .hamburger-desktop {
    top: calc(25px + 5px);
    transition: 0.35s ease;
    display: flex;
    position: relative;
    left: calc(var(--menu-width) + 20px);
  }

  .hamburger-desktop-info {
    position: absolute;
    top: 35px;
    left: 0px;
    width: 150px;
    border-radius: 5px;
    background-color: var(--background-2);
    box-shadow: var(--surface-shadow);
    height: 0;
    overflow: hidden;
    transition: 0.2s ease;
  }

  .hamburger-desktop-info::after {
    content: "";
    display: block;
    background-color: var(--background-2);
    height: 15px;
    width: 15px;
    top: -5px;
    left: 5px;
    position: absolute;
    z-index: 9;
    transform: rotate(45deg);
    transition: 0.2s ease;
  }

  .hamburger-desktop:hover .hamburger-desktop-info {
    height: 4rem;
  }

  .hamburger-desktop-info p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 0.8rem;
    z-index: 10;
  }

  .nav-hidden-desktop .hamburger-desktop {
    left: 20px;
  }

  .nav-hidden-desktop {
    left: calc(0px - var(--menu-width));
  }

  .nav-hidden-desktop ~ main {
    margin-left: 0;
    width: 100vw;
  }
}

@media only screen and (max-width: 700px) {
  .hamburger-desktop {
    display: none;
  }

  header {
    position: fixed;
    left: -100%;
    transition: 0.4s ease;
    box-shadow: var(--surface-shadow);
    padding-bottom: 150px;
  }

  .settings {
    position: fixed;
    bottom: 25px;
    left: -270px;
    width: calc(var(--menu-width) - 20px);
    transition: 0.4s ease;
  }

  .open-menu .settings {
    left: 10px;
  }
}

.dark-theme-toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-theme-toggle {
  background-color: var(--text);
  width: 36px;
  height: 22px;
  border-radius: 12px;
  align-items: center;
  padding: 2.5px;
}

.dark-theme-toggle-circle {
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background-color: var(--background);
  transition: 0.5s ease;
}

body.dark .dark-theme-toggle-circle {
  transform: translateX(14px);
}

/* -------------------------- HAMBURGER & ANIMATION --------------------------*/

.hamburger-mobile {
  display: none;
  left: 20px;
  transition: 0.35s ease;
}

@media only screen and (max-width: 700px) {
  .top-nav {
    background-color: var(--accent);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
  }

  .open-menu {
    left: 0;
    z-index: 99;
  }

  .hamburger-mobile {
    position: relative !important;
    display: flex;
  }

  .open-menu ~ .top-nav .hamburger-mobile {
    margin-left: var(--menu-width) !important;
  }
}

@media screen and (display-mode: standalone) {
  .top-nav {
    padding-top: 40px;
    height: 80px;
  }

  main {
    padding-top: 100px !important;
  }

  #nav-bar {
    padding-top: 40px;
  }
}

/* -------------------------- MAIN CONTENT --------------------------*/

main {
  width: calc(100vw - var(--menu-width));
  height: 100vh;
  margin-left: var(--menu-width);
  background-color: var(--background);
  padding: 25px 50px;
  overflow: hidden;
  transition: 0.35s ease;
}

.header-container {
  margin-left: 10px;
}

h2 {
  margin-bottom: 15px;
  padding: 0px 10px;
  font-size: 1.5em;
}

h2 i {
  margin-right: 15px;
}

.home-container {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 2.5em);
  margin: auto;
}

.main-container {
  overflow-y: scroll;
}

@media screen and (max-width: 700px) {
  main {
    padding: 10px;
    padding-top: 60px;
  }
  main h2 {
    display: inline;
  }

  .open-menu ~ .nav-close {
    display: block;
    z-index: 5;
  }

  .header-container {
    display: inline;
    margin: auto;
    margin-left: 0;
    transform: translateX(10px);
    z-index: 10;
  }
}

.hamburger {
  width: 25px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  border-radius: 2px;
  background-color: white;
  transition: 0.5s cubic-bezier(0.5, -1, 0.5, 1.5);
}

.open-menu ~ .top-nav .bar-1 {
  transform: rotate(-45deg) translate(-6px, 6.5px);
  -webkit-transform: rotate(-45deg) translate(-6px, 6.5px);
  -moz-transform: rotate(-360deg) translate(-6px, 6.5px);
  -ms-transform: rotate(-360deg) translate(-6px, 6.5px);
  -o-transform: rotate(-360deg) translate(-6px, 6.5px);
}

.open-menu ~ .top-nav .bar-2 {
  transform: translateX(-15px);
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  background-color: transparent;
  box-shadow: none;
}

.open-menu ~ .top-nav .bar-3 {
  transform: rotate(45deg) translate(-6px, -6.5px);
  -webkit-transform: rotate(45deg) translate(-6px, -6.5px);
  -moz-transform: rotate(360deg) translate(-6px, -6.5px);
  -ms-transform: rotate(360deg) translate(-6px, -6.5px);
  -o-transform: rotate(360deg) translate(-6px, -6.5px);
}

/* -------------------------- NEW TASK CONTAINER --------------------------*/

.task-and-filter-container {
  display: grid;
  margin: 10px;
  grid-template-columns: 1fr auto;
}

.hide-completed-filter,
.show-all-filter {
  margin-top: 5px;
  margin-bottom: auto;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.hide-completed-filter:hover,
.show-all-filter:hover {
  background-color: var(--background-hover);
}

.task-and-filter-container .hidden {
  display: none;
}

.new-task-container {
  display: flex;
  flex-direction: column;
}

.new-task-container > * {
  display: flex;
}

.new-task-button {
  color: var(--text);
  font-size: 1em;
  background-color: transparent;
  border: none;
  align-items: center;
  padding: 15px 10px;
}

.new-task-button-global {
  box-shadow: var(--surface-shadow);
}

.new-task-modal i:hover {
  background-color: var(--text-active);
}

.new-task-button svg {
  height: 17px;
  width: 17px;
  margin-right: 15px;
  border-radius: 50%;
  padding: 2px;
}

.new-task-button:hover {
  color: var(--text-accent);
  cursor: pointer;
  border-radius: 5px;
}

.new-task-button:hover svg {
  color: white;
  background-color: var(--accent);
}

.new-task-form {
  display: none;
  padding: 5px;
}

.new-task-form-open > .new-task-form {
  display: block;
}

.new-task-form-open > .new-task-button {
  display: none;
}

input[type="text"] {
  border: none;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 7.5px 10px;
  border-radius: 5px;
  background-color: var(--background);
  color: var(--text);
  transition: 0.1s ease;
  border: 1px solid #ddd;
  font-size: 1rem;
}

input[type="text"]:focus-visible {
  outline: none;
  border: 1px solid var(--accent);
}

.new-task-buttons-container {
  margin-top: 10px;
}

.add-new-task,
.apply-button,
.add-new-task-modal {
  background-color: var(--accent);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 2.5px;
  font-size: 1em;
  transition: 0.1s ease;
}

.cancel-new-task,
.cancel-button,
.cancel-new-task-modal {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  font-size: 1em;
  border-radius: 2.5px;
  color: var(--text);
}

.add-new-task:hover,
.add-new-task-modal,
.apply-button:hover,
.cancel-new-task-modal:hover {
  cursor: pointer;
}

.cancel-new-task:hover,
.cancel-button:hover,
.cancel-new-task-modal:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: rgb(218, 67, 67);
  color: white;
}

.cancel-button {
  margin-left: 5px;
}

.disabled-button {
  background-color: var(--accent-light) !important;
}

/* -------------------------- NEW TASK MODAL --------------------------*/

.new-task-modal.hidden > .new-task-modal-form,
.new-task-modal.hidden > .new-task-modal-close {
  display: none;
}

.new-task-modal i {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: grid;
  width: 45px;
  height: 45px;
  place-items: center;
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: var(--accent);
  border-radius: 50px;
  cursor: pointer;
  transition: 0.35s ease;
}

.new-task-modal-form {
  position: fixed;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  z-index: 95;
  background-color: var(--background);
  box-shadow: var(--background-shadow);
  display: block;
  width: 500px;
  border-radius: 5px;
  padding: 15px;
  z-index: 100;
}

.new-task-form-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1em;
}

.new-task-modal-close {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: var(--background-shadow-color);
  display: block;
  z-index: 90;
}

@media only screen and (max-width: 700px) {
  .new-task-modal-form {
    width: 90vw;
  }
  .new-task-modal i {
    height: 50px;
    width: 50px;
    left: 50vw;
    transform: translateX(-50%);
  }
}

/* -------------------------- TASKS CONTAINER --------------------------*/

.tasks-container {
  overflow-y: scroll;
}

.task-info-container,
.task-edit-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.task-container {
  margin: 5px 10px;
}

.task-container p {
  margin-left: 10px;
  flex-grow: 1;
}

.task-container.checked p {
  color: var(--text-light);
  text-decoration: line-through;
  transition: 2s left;
}

.task-container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.task-container button i {
  margin: 0;
}

.task-container .edit-task-button,
.task-container .delete-task-button {
  padding: 0;
}

.task-container .edit-task-button ::before,
.task-container .delete-task-button ::before {
  border-radius: 5px;
  padding: 7px;
}

.task-container .edit-task-button:hover ::before {
  background-color: var(--background);
  color: var(--accent);
}

.task-container .edit-task-button,
.task-container .delete-task-button {
  opacity: 0;
}

.edit-open .edit-task-button,
.edit-open .delete-task-button {
  opacity: 1;
}

.task-container .delete-task-button:hover ::before {
  color: var(--secondary);
  background-color: var(--background);
}

.task-container:hover {
  background-color: var(--background-hover);
  border-radius: 5px;
}

.task-container:hover .edit-task-button,
.task-container:hover .delete-task-button {
  opacity: 1;
}

.task-container p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.task-container.checked p:hover {
  text-decoration: line-through underline;
}

.task-edit-container {
  display: flex;
  height: 0;
  padding: 0px 10px;
  overflow: hidden;
  transition: 0.075s ease;
}

.edit-open .task-edit-container {
  height: auto;
  padding: 10px;
}

.edit-open {
  background-color: var(--background-hover);
  box-shadow: var(--background-shadow);
  border-radius: 5px;
}

.task-edit-container input[type="text"] {
  flex-grow: 1;
}

.task-edit-container .apply-button {
  background-color: var(--accent);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 2.5px;
  font-size: 1em;
  margin-left: 10px;
}

@media only screen and (max-width: 700px) {
  main {
    margin-left: 0;
    width: auto;
    /* padding-top: 50px; */
    height: 100vh;
  }
}

/* -------------------------- TASK FILTER --------------------------*/

.task-filter {
  position: relative;
}

.task-filter-toggle {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.task-filter-toggle::before {
  color: var(--text-light);
}

.task-filter-toggle:hover {
  background-color: var(--background-hover);
  color: var(--accent);
}

.task-filter-modal {
  position: absolute;
  padding: 0;
  right: 0;
  width: 200px;
  background-color: var(--background-2);
  display: none;
}

.task-filter-modal a {
  display: block;
  margin: 0;
}

.task-filter-modal.open {
  display: block;
}

.task-filter-modal.open ~ .task-filter-modal-close {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--on-background);
  transition: 0.2s ease;
}
